.container {
  display: flex;
  flex-direction: column;
}

.menuWrapper {
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
}

.diceSelect {
  display: none;
}

.rollResult {
  order: 2;
}

.diceBag {
  padding-top: 48px;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr minmax(225px, 350px);
    grid-template-rows: 48px 10em 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "dice-select dice-select"
      "roll-result dice-bag";
    margin: 0 auto;
    max-width: 1920px;
  }

  .diceSelect {
    display: inherit;
    padding-top: 24px;
  }

  .diceBag {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}