.container {

}

.diceList {
    display: none;
}

.dice {
    background-color: var(--main-400);
    border-radius: 4px;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.25s ease;
}

.dice:hover {
    background-color: var(--main-300);
}

@media screen and (min-width: 768px) {
    .diceList {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        user-select: none;
    }
}