.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.title {
    font-size: 1.5rem;
}

.list {
    border-radius: 8px;
    overflow: auto;
    width: 100%;
}

.item {
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.25rem;
}

.item:nth-child(odd) .dieSection {
}

.item:nth-child(even) .dieSection {
}

.dieSection {
    background-color: var(--main-400);
    flex-grow: 1;
}

.dieSection:nth-child(2) {
    order: 8;
}

.dieSection:nth-child(2) .sectionTitle {
    text-transform: uppercase;
}

.sectionTitle {
    background-color: var(--main-600);
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0 0.5rem;
}

.sectionTitle,
.sectionValue {
    text-align: center;
}

.sectionValue {
    font-size: 0.9rem;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .item {
        
    }

    .dieSection {
        flex-grow: 0;
    }

    .sectionTitle {
        font-size: 1rem;
    }

    .sectionTitle,
    .sectionValue {
        padding: 0.65rem 1.5rem;
    }
}